:root{
  --pink:rgb(224, 34, 186);
  --black:#06050e;
  --light-color:#adabab;
  --box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.1);
  --border:2rem solid rgba(0,0,0,1);
  --outline:0.1rem solid rgba(0,0,0,1) ;
}

*{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
body{
  background-color: pink;
}
section{
  padding: 2rem 9%;
}
.heading
{
  text-align: center;
  padding: 2rem 0;
  padding-bottom: 3rem;
  font-size: 3.5rem;
color: black;
}
.heading span{
  background-color:rgb(239, 15, 202) ;
  color: #fff;
  display: inline-block;
  padding: 0.5rem 3rem;
  clip-path:polygon(100% 0, 93% 50%,100% 99%,0 100%,7% 50%,0% 0% ) ;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  border: 2px solid;
  justify-content: space-between;
  padding: 2rem 9%;
  background: #fff;
  box-shadow: var(--box-shadow);
}
.header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
}
.header .navbar a{
  font-size: 1.7rem;
  margin: 0 1rem;
  color: var(--black);

}
.header .navbar a:hover
{
  color: rgb(238, 65, 186);
}
.header .icons div
{
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border:1px solid;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.;
  -moz-border-radius: 0.;
  -ms-border-radius: 0.;
  -o-border-radius: 0.;
  background: #eee;
  color: var(--black);
  font-size:2rem;
  margin-right: 0.3rem;
  text-align: center;
  cursor: pointer;
  
}
.header .icons div:hover
{
  background: pink;
  

}
#menu-btn
{
  display: none;
}
.header .search-form
{
  width: 90%;
  
}
.header .search-form{
  border: 1px solid;
  position: absolute;
  top: 100%;
  right:-100%;
  width: 50rem;
  height: 5rem;
  background: white;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  overflow: hidden;
  display:flex;
   align-items: center;
   box-shadow: var(--box-shadow);
}
.header .search-form.active
{
  right: 2rem;
  transition: 4s linear;
  -webkit-transition: 4s linear;
  -moz-transition: 4s linear;
  -ms-transition: 4s linear;
  -o-transition: 4s linear;
}

.header .search-form input{
  height: 100%;
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color: var(--black);
  padding:  0 1.5rem;
}
.header .search-form label{
  font-size: 2.2rem;
  padding-right: 1.5rem;
  color: var(--black);
}
.header .search-form label:hover{
  color: rgb(231, 181, 189);
}
.btn{
  border:0.2rem solid var(--black);
  margin-top:1rem;
  display:inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  color: black;
  background: none;
  cursor: pointer;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.header .login-form{
  border: 1px solid;
  position: absolute;
  width:35rem;
  top: 110%;
  right:-100%;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  border-radius:0.5rem ;
  -webkit-border-radius:0.5rem ;
  -moz-border-radius:0.5rem ;
  -ms-border-radius:0.5rem ;
  -o-border-radius:0.5rem ;
  background: #fff;
  text-align: center;
  

}
.header .login-form.active{
  right: 2rem;
  transition: 0.4s linear;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
}
.header .login-form h3
{
  font: size 2.5em;
  text-transform: uppercase;
  color: black;
}
.header .login-form .box{
  border: 0px solid;
  margin: 0.8rem 0;
  background: #eee;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.6rem;
  color: black;
  text-transform: none;
  width: 100%;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.header .login-form p{
  font-size:1.4rem;
  padding: 0.5rem 0;
  color:black;
}
.header .login-form p a{
  text-decoration: underline;
  color: rgb(213, 46, 231);
}
.home{
  display: flex;
  justify-content: center;
  
  background: url(img1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 17rem;
  padding-bottom: 23rem;
}
  .home .content{
    border: 0px solid;
    text-align: center;
    width: 60rem;
    font-weight: 600;
  }
  .home .content h3{
    color: black;
    font-size: 5rem;
  }
  .home .content p{
    font-size: 2rem;
    padding: 1rem 0;
    line-height: 1.8;
  }
  .content .btn{
    color: pink;
    background-color: #06050e;
  }
  .features .box-container{
     border: 0px solid;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
     gap: 1.5rem;
  }
  .features .box-container img{
    width: 280px;
    height: 200px;
  }
  .features .box-container .box{
    border: 0px solid red;
    padding: 3rem 2rem;
    background: pink;
    outline: var(--outline);
    outline-offset:-1rem ;
    text-align: center;
    box-shadow: var(--box-shadow);

  }
  .features .box-container .box:hover {
    box-shadow: 4px 4px 4px 4px rgba(186, 22, 156, 0.8); /* Adjusted box-shadow for better visibility */
  }


@media (max-width:991px)
{
  html{
    font-size: 55%;
  }
  .header{
    padding: 2rem;
  }
  section{
    padding: 2rem 9%;
  }
  .heading{
    font-size: 2.5rem;
  }
}

